apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-app
  namespace: django
spec:
  replicas: 2
  selector:
    matchLabels:
      app: django
  template:
    metadata:
      labels:
        app: django
    spec:
      containers:
        - name: django
          image: 138973099853.dkr.ecr.ap-south-1.amazonaws.com/django-ecommerce:1.0
          ports:
            - containerPort: 8000
          env:
            - name: DEBUG
              value: "False"
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: DB_NAME
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: DB_PASSWORD
            - name: DB_HOST
              value: "django-postgres.cls0uis007mz.ap-south-1.rds.amazonaws.com"
            - name: DB_PORT
              value: "5432"
